html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    background-color: $bodyBack;
}

img {
    max-width: 100%;
}

h1, h2, h3, p, a, tr, th, td, label, option, select, input, button, span {
    color: $black;
    font-family: $principal;
    margin: 0;
}
span{
    font-weight: 700;
}
a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 75%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-start{
    align-items: flex-start;
}
.f-column-l{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.flex-c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gap-column{
    column-gap: 3rem;
}
.c-pointer{
    cursor: pointer;
}

.underline{
    &:hover{
        text-decoration: underline;
    }
}

.btn-reset{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    position: relative;
}

.align-top{
    align-items: flex-start;
}

.mg-2{
    margin-bottom: 2rem;
}
.mg-r-2{
    margin-right: 2rem;
    text-decoration: line-through;
    color: $priceBefore;
}

.mg-t-4{
    margin-top: 4rem;
}
.mg-l-1{
    margin-left: .5rem;
}

.bold{
    font-weight: $bold;
}



