//Fonts
$principal: 'Roboto', sans-serif;
$logo: 'Play', sans-serif;

//Colores
//Primary
$darkBlue: #012A93;
$lightBlue : #4076FF;
$black: #000000;
$priceBefore: #C4C4C4;
$priceNow: #DA291C;
$borderColor : #707070;
$white : #fff;
$footerBack : #E8E8E8;
$inputBack : #F9FAFF;
$inputBackBorder : #ebebee;
$bodyBack : #F7F7F7;


$fontSize: 1.6rem;
$fontSmall: 1.4rem;
$light : 300;
$regular : 400;
$bold : 700;