<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css"> -->
</head>
<body>
  <header class="header">
      <div class="container flex-space">
      <a class="logo c-pointer" href="home">PC Labs</a>
      
        <form action="#" class="barra-container">
          <input class="barra-busqueda" type="text" name="busqueda" id="busqueda" placeholder="Buscar Productos">
          <input type="submit" value="🔍" class="lupa">
        </form>
      <div class="acciones flex-space">
        <div class="carro-container flex-space">
          <img th:src="@{/img/icons/carrito.svg}" alt="icon_carrito" width="18px">
          <a class="h-logo mg-l-1" href="carrito">Carro</a>
        </div>

          <div class="login-container dropdown" >

              <div class="dropdown-btn flex-space" sec:authorize="!isAuthenticated()">
                  <img th:src="@{/img/icons/login.svg}" alt="icon_carrito" width="18px">
                  <a  class="h-logo mg-l-1" th:href="@{/login}">Login</a>
              </div>

              <div class="dropdown-btn flex-space" sec:authorize="isAuthenticated()">
                  <span class="h-logo mg-l-1"  sec:authentication="name" ></span>
                  <div class="triangle"></div>
              </div>   
                  <div class="dropdown-content" sec:authorize="isAuthenticated()" >
                      <div class="nav-rol" sec:authorize="hasRole('ROLE_USER')" >
                          <a class="role-link" href="mis_ordenes">Mis Ordenes</a>
                          <a class="role-link" href="mis_comprobantes">Mis Comprobantes</a>
                      </div>

                      <div class="nav-rol" sec:authorize="hasRole('ROLE_ADMIN')" >
                          <a class="role-link" href="pedidos_realizados">Ordenes</a>
                          <a class="role-link" href="info_productos">Productos</a>
                          <a class="role-link" href="nuevo_producto">Nuevo Producto</a>
                          <a class="role-link" href="nuevo_administrador">Nuevo Administrador</a>
                      </div>

                      <form class="hover-bg" th:action="@{/logout}" method="post">
                          <button class="btn-reset logout c-pointer" type="submit">Cerrar Sesion</button>
                      </form>
                  </div>

          </div> <!--login-container-->

      </div>

    </div>
    </header>
  <nav class="nav">
      <div class="container">
          <a th:href="@{/categoria/procesadores}" class="nav-link" >Procesadores</a>
          <a th:href="@{/categoria/tarjetas_graficas}" class="nav-link" >Tarjetas Graficas</a>
          <a th:href="@{/categoria/memorias_ram}" class="nav-link" >Memorias Ram</a>
          <a th:href="@{/categoria/placas_madre}" class="nav-link" >Placas Madre</a>
          <a th:href="@{/categoria/fuentes_poder}" class="nav-link" >Fuentes de Poder</a>
          <a th:href="@{/categoria/gabinetes}" class="nav-link" >Gabinetes</a>
      </div>
  </nav>
    <div class="container">
        <p class="page-name" >Home > Carro</p>
        <h1 class="title" >Tu Carrito</h1>

        <div class="flex-space align-top">
            
        <div class="listado-carro">
          
          <div class="producto-btn-container flex-space" th:each="pCantidad:${productos}">
            <div class="producto-carro">
              
            <img th:src="${pCantidad.producto.url_imagen}" alt="" width="125px" height="125px">
                <div>
                    <p class="name-producto" th:text="${pCantidad.producto.nombre}"></p>
                    <div class="precios flex-space precios-carro">
                        <p class="precio-anterior mg-r-2" th:text="${'$' + pCantidad.producto.precio_anterior}"></p>
                        <p class="precio-actual" th:text="${'$' +pCantidad.producto.precio * pCantidad.cantidad}"></p>
                    </div>
                    <div class="edit-cantidad flex-space">
                        <a class="btn-reset btn-edit btn-menos" th:href="@{disminuir_cantidad(id_producto=${pCantidad.producto.id_producto})}">➖</a>
                        <input class="cantidad" type="number" name="cantidad" id="cantidad" th:value="${pCantidad.cantidad}">
                        <a class="btn-reset btn-edit btn-mas" th:href="@{aumentar_cantidad(id_producto=${pCantidad.producto.id_producto})}" >➕</a>
                    </div>
                </div>
            </div>

            <div class="btn-agregar c-pointer remover-btn ">
                <a class="nombre-agregar" th:href="@{remover_producto(id_producto=${pCantidad.producto.id_producto})}" >REMOVER</a>
            </div>
          </div>


        </div>

        <div class="area-cupon">
            <h2 class="title mg-2">Cupón de Descuento</h2>
            <input type="text" name="cupon" id="cupon" class="mg-2">
            <div class="btn-agregar desc-btn mg-2 c-pointer">
                <a class="nombre-agregar ">APLICAR</a>
            </div>
            <p class="mg-2">Resumen</p>
            <div class="flex-space row-resumen mg-2">
                <p  th:text="${'Precio (' + cantidad + ' items)'}" >Precio (3 items)</p>
                <p th:text="${'$' + precio_total}"></p>
            </div>
            <div class="flex-space row-resumen mg-2">
                <p>Descuentos</p>
                <p>$0</p>
            </div>
            <div class="flex-space row-resumen mg-2">
                <p>Precio Total</p>
                <p th:text="${'$' + precio_total}"></p>
            </div>
            <div class="flex-space">
                <div class="btn-agregar desc-btn">
                    <a href="home" class="nombre-agregar ">VOLVER</a>
                </div>            
                <div class="btn-agregar desc-btn">
                    <a href="tipo_entrega " class="nombre-agregar ">SIGUIENTE</a>
                </div>
            </div>


        </div>
    </div>

    </div>
      
    <footer class="footer">
      <div class="container flex-space f-start gap-column">
      <div class="icons">
          <p class="logo logo-f c-pointer">PC Labs</p>
          
          <div class="social-media">
                <div class="fb-container c-pointer">
                  <img th:src="@{/img/icon_fb.svg}" alt="icon_fb" width="24px">
                </div>
                <div class="tw-container c-pointer">
                  <img th:src="@{/img/icon_tw.svg}" alt="icon_tw" width="24px">

                </div>
                <div class="ig-container c-pointer">
                  <img th:src="@{/img/icon_ig.svg}" alt="icon_ig" width="24px">
                </div>
          </div>

        </div>

        <div class="n-t-container f-column-l">
          <h3 class="f-title" >Nuestra tienda</h3>
          <a class="f-link underline" href="#">Trabaja con nosotros</a>
          <a class="f-link underline" href="#">Sobre nosotros</a>
          <a class="f-link underline" href="#">Contáctanos</a>
          <a class="f-link underline" href="#">Promociones</a>
          <a class="f-link underline" href="#">Admnistradores</a>
        </div>

        <div class="s-c-container f-column-l">
          <h3 class="f-title" >Servicio al Cliente</h3>
          <a class="f-link underline" href="#">Términos y condiciones</a>
          <a class="f-link underline" href="#">Cambios y devoluciones</a>
          <a class="f-link underline" href="#">Centro de ayuda</a>
        </div>

        <div class="c-container f-column-l">
          <h3 class="f-title" >Categorías</h3>
          <a class="f-link underline" href="categoria/procesadores">Procesadores</a>
          <a class="f-link underline" href="categoria/tarjetas_graficas">Tarjetas gráficas</a>
          <a class="f-link underline" href="categoria/memorias_ram">Memorias ram</a>
          <a class="f-link underline" href="categoria/fuentes_poder">Fuentes de poder</a>
          <a class="f-link underline" href="categoria/gabinetes">Gabinetes</a>
        </div>

        <div class="s-container f-column-l">
          <h3 class="f-title" >Suscríbete</h3>
          <p class="f-link"> Suscríbete a nuestro newletter, para que seas el primero en conocer nuestras nuevas ofertas y promociones</p>
          <div class="s-btn-container c-pointer">  
            <input class="input-s" type="email" name="email" id="email">
            <div class="btn-suscribirse">
              <p>Suscribirse</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="copyright">Copyright © 2021 PC Labs. Todos los Derechos Reservados.</p>
      </div>
    </footer>

    <script th:src="@{/gulp_sass/src/js/carrito.js}"></script>

</body>
</html>