<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
   <link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css">-->
  </head>
  <body class="reg-background">

      <div class="registro-container">
        <a th:href="@{/home}" class="home-icon">
            <img th:src="@{/img/icons/home.svg}" alt="home-icon" height="50px">
        </a>

          <div class="form-container">

          <form class="f-registro" th:object="${usuario}" th:action="@{/insertar_usuario}" method="post">
              <h1>Regístrate</h1>
              <p class="page-name" >Datos Personales</p>
              <div class="u-field">
                  <label for="nombres">Nombres</label>
                  <input th:field="*{nombres}" class="input-form" type="text" name="nombres" id="nombres" required="required">
              </div>
              <div class="u-field">
                  <label for="apellidos">Apellidos</label>
                  <input th:field="*{apellidos}" class="input-form" type="text" name="apellidos" id="apellidos" required="required">
              </div>
              <div class="u-field">
                  <label for="rut">Rut</label>
                  <input th:field="*{rut}" class="input-form" type="text" name="rut" id="rut" required="required" maxlength="12">
              </div>
              <div class="u-field">
                  <label for="email">Correo</label>
                  <input th:field="*{correo}" class="input-form" type="email" name="email" id="email" required="required"> 
              </div>
              <div class="u-field">
                  <label for="password1">Contraseña</label>
                  <input th:field="*{clave}" class="input-form" type="password" name="password1" id="password1" required="required">
              </div>
              <div class="u-field">
                  <label for="password2">Repetir Contraseña</label>
                  <input class="input-form" type="password" name="password2" id="password2" required="required">
              </div>

              <div class="flex-center btn-alert ">
                  <input class="btn-registro c-pointer" type="submit" value="REGISTRARSE">
                  <p>¿Ya Tienes Una Cuenta? <a href="login">Inicia Sesion</a> </p>
              </div>
          </div>
      </form>
      <div class="img-container">
          <img th:src="@{/img/img-registro.jpg}" alt="" width="600px" height="648px">
      </div>
  </div>

  <script th:src="@{/gulp_sass/src/js/registro.js}"></script>

  </body>
  </html>