<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
    <link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css"> -->
  </head>
  <body>
    <header class="header">
        <div class="container flex-space">
        <a class="logo c-pointer" href="home">PC Labs</a>

          <form action="#" class="barra-container">
            <input class="barra-busqueda" type="text" name="busqueda" id="busqueda" placeholder="Buscar Productos">
            <input type="submit" value="🔍" class="lupa">
          </form>
        <div class="acciones flex-space">
          <div class="carro-container flex-space">
            <img th:src="@{/img/icons/carrito.svg}" alt="icon_carrito" width="18px">
            <a class="h-logo mg-l-1" href="carrito">Carro</a>
          </div>

            <div class="login-container dropdown" >

                <div class="dropdown-btn flex-space" sec:authorize="!isAuthenticated()">
                    <img th:src="@{/img/icons/login.svg}" alt="icon_carrito" width="18px">
                    <a  class="h-logo mg-l-1" th:href="@{/login}">Login</a>
                </div>

                <div class="dropdown-btn flex-space" sec:authorize="isAuthenticated()">
                    <span class="h-logo mg-l-1"  sec:authentication="name" ></span>
                    <div class="triangle"></div>
                </div>
                <div class="dropdown-content" sec:authorize="isAuthenticated()" >
                    <div class="nav-rol" sec:authorize="hasRole('ROLE_USER')" >
                        <a class="role-link" th:href="@{/mis_ordenes}">Mis Ordenes</a>
                        <a class="role-link" th:href="@{/mis_comprobantes}">Mis Comprobantes</a>
                    </div>

                    <div class="nav-rol" sec:authorize="hasRole('ROLE_ADMIN')" >
                        <a class="role-link" th:href="@{/pedidos_realizados}">Ordenes</a>
                        <a class="role-link" th:href="@{/info_productos}">Productos</a>
                        <a class="role-link" th:href="@{/nuevo_producto}">Nuevo Producto</a>
                        <a class="role-link" th:href="@{/nuevo_administrador}">Nuevo Administrador</a>
                    </div>

                    <form class="hover-bg" th:action="@{/logout}" method="post">
                        <button class="btn-reset logout c-pointer" type="submit">Cerrar Sesion</button>
                    </form>
                </div>

            </div> <!--login-container-->


        </div>

      </div>
      </header>
    <nav class="nav">
        <div class="container">
            <a th:href="@{/categoria/procesadores}" class="nav-link" >Procesadores</a>
            <a th:href="@{/categoria/tarjetas_graficas}" class="nav-link" >Tarjetas Graficas</a>
            <a th:href="@{/categoria/memorias_ram}" class="nav-link" >Memorias Ram</a>
            <a th:href="@{/categoria/placas_madre}" class="nav-link" >Placas Madre</a>
            <a th:href="@{/categoria/fuentes_poder}" class="nav-link" >Fuentes de Poder</a>
            <a th:href="@{/categoria/gabinetes}" class="nav-link" >Gabinetes</a>
        </div>
    </nav>
      <div class="container flex-space entrega-container">
          <div class="left">
          <div class="seleccion flex-space">
              <div class="radio-opcion">
                  <input type="radio" name="tipo_envio" id="despacho" class="check-despacho">
                  <label for="despacho">Despacho a Domicilio</label>
              </div>

              <div class="radio-opcion">
                  <input type="radio" name="tipo_envio" id="retiro" checked>
                  <label for="retiro">Retiro en Tienda</label>
              </div>

          </div>

          <form class="formulario content-border form-entrega1" th:object="${orden_compra}" th:action="@{/generar_orden_compra}" method="post">


              <input type="hidden" th:field="*{tipoEntrega}"  id="tipo_entrega" class="input-form tipo-entrega" >

              <div class="form-entrega">
                  <div class="field f-column-l">
                      <label for="region">Region:</label>
                      <select th:name="region" id="select-region" class="input-form" >
                          <option  th:each="region:${regiones}" th:value="${region.id_region}" th:text="${region.nombre_region}" class="option-region" ></option>
                      </select>
                  </div>


                  <div class="field f-column-l">
                      <label for="apellidos">Ciudad:</label>
                      <select name="ciudad" id="select-ciudad" class="input-form" required="required">
                          <option  th:each="ciudad:${ciudades}" th:text="${ciudad.nombre}" th:class="'option-ciudad ' + ${ciudad.region.id_region}" th:value="${ciudad.id_ciudad}" ></option>
                      </select>
                  </div>

                  <div class="field">
                      <label for="calle">Calle:</label>
                      <input class="input-form" th:field="*{calle}" type="text" name="text" id="calle" required="required=">
                  </div>

              </div>

              <div class="field">
                  <label for="telefono">Teléfono</label>
                  <input class="input-form" th:field="*{telefono}" type="text" name="rut" id="telefono">
              </div>


              <div class="flex-space">
                  <div class="btn-agregar desc-btn">
                      <a href="carrito" class="nombre-agregar ">VOLVER AL CARRO</a>
                  </div>
                  <div class="btn-agregar desc-btn">
                    <input type="submit" value="ENVIAR ORDEN" class="btn-reset c-pointer nombre-agregar">
                  </div>
              </div>
          </form>



      </div>

      <div class="right">

          <div class="row-producto flex-space" th:each="p_cantidad:${p_cantidades}">
            
            <div class="flex-space">
              <div class="c-cantidad">
                  <p th:text="${p_cantidad.cantidad}">1</p>
              </div>
              <p class="nombre-2" th:text="${p_cantidad.producto.nombre}"></p>
            </div>
              <p class="precio" th:text="${'$' + p_cantidad.producto.precio * p_cantidad.cantidad}"></p>
          </div>

          <div class="flex-space total">
              <p class="bold">Total</p>
              <p th:text="${'$' + precio_total}" class="bold"></p>
          </div>
      </div>


      </div>

      <footer class="footer">
        <div class="container flex-space f-start gap-column">
        <div class="icons">
            <p class="logo logo-f c-pointer">PC Labs</p>

            <div class="social-media">
                <div class="fb-container c-pointer">
                    <img th:src="@{/img/icon_fb.svg}" alt="icon_fb" width="24px">
                </div>
                <div class="tw-container c-pointer">
                    <img th:src="@{/img/icon_tw.svg}" alt="icon_tw" width="24px">

                </div>
                <div class="ig-container c-pointer">
                    <img th:src="@{/img/icon_ig.svg}" alt="icon_ig" width="24px">
                </div>
            </div>

          </div>

          <div class="n-t-container f-column-l">
            <h3 class="f-title" >Nuestra tienda</h3>
            <a class="f-link underline" href="#">Trabaja con nosotros</a>
            <a class="f-link underline" href="#">Sobre nosotros</a>
            <a class="f-link underline" href="#">Contáctanos</a>
            <a class="f-link underline" href="#">Promociones</a>
            <a class="f-link underline" href="#">Admnistradores</a>
          </div>


          <div class="s-c-container f-column-l">
            <h3 class="f-title" >Servicio al Cliente</h3>
            <a class="f-link underline" href="#">Términos y condiciones</a>
            <a class="f-link underline" href="#">Cambios y devoluciones</a>
            <a class="f-link underline" href="#">Centro de ayuda</a>
          </div>

          <div class="c-container f-column-l">
            <h3 class="f-title" >Categorías</h3>
            <a class="f-link underline" href="categoria/procesadores">Procesadores</a>
            <a class="f-link underline" href="categoria/tarjetas_graficas">Tarjetas gráficas</a>
            <a class="f-link underline" href="categoria/memorias_ram">Memorias ram</a>
            <a class="f-link underline" href="categoria/fuentes_poder">Fuentes de poder</a>
            <a class="f-link underline" href="categoria/gabinetes">Gabinetes</a>
          </div>

          <div class="s-container f-column-l">
            <h3 class="f-title" >Suscríbete</h3>
            <p class="f-link"> Suscríbete a nuestro newletter, para que seas el primero en conocer nuestras nuevas ofertas y promociones</p>
            <div class="s-btn-container c-pointer">
              <input class="input-s" type="email" name="email" id="email">
              <div class="btn-suscribirse">
                <p>Suscribirse</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <p class="copyright">Copyright © 2021 PC Labs. Todos los Derechos Reservados.</p>
        </div>
      </footer>

      <script th:src="@{/gulp_sass/src/js/script.js}"></script>
  </body>
  </html>